.header {
    background-color: gainsboro;
    height: 140px;
    width:100%;
    padding-top:20px;
    border-bottom: 2px solid black;
    background-image: url(/img/cryptowolf.jpg);
    background-repeat:no-repeat;
    background-size: 140px;
    background-position-x: right;
    background-position-y: 20px;
}
.navbarWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#searchWrap{
    margin-left: 20%;
}
#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.parallax {
    
    background-image: url(/img/cryptoparallaxscroll.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
